body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF; /* Fondo principal */
    line-height: 1.5;
}

header {
    background-color: #1B263B; /* Azul oscuro */
    color: #FFFFFF; /* Blanco para el texto */
    padding: 1.25rem;
    text-align: center;
    box-shadow: 0 0125rem 0.25rem rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}


body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF; /* Fondo principal */
    line-height: 1.5;
}

/* Header */
header {
    background-color: #1B263B; /* Azul oscuro */
    color: #FFFFFF; /* Blanco para el texto */
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}


/* Contenedor del login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh; 
    background-color: #B0C4DE; /* Azul claro */
}

.login-box {
    background: #FFFFFF; /* Fondo blanco */
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 25rem;
}

/* Estilos de los inputs */
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    border: 1px solid #E0E0E0; /* Borde gris claro */
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    transition: border-color 0.3s;
}

.input-group i {
    margin-right: 0.5rem;
    color: #4A6FA5; /* Azul medio para íconos */
}

.input-group input {
    border: none;
    outline: none;
    font-size: 1rem;
    flex-grow: 1;
}

/* Efecto hover en inputs */
.input-group:hover {
    border-color: #4A6FA5; /* Azul medio */
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.remember-forgot label {
    font-size: 0.9rem;
    color: #555555;
}

.forgot-link {
    color: #4A6FA5; /* Azul medio */
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}

/* Botón de login */
.login-button {
    width: 100%;
    background-color: #4A6FA5; /* Azul medio */
    color: #FFFFFF;
    padding: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #1B263B; /* Azul oscuro */
}

/* Estilo del enlace para registro */
.register-link {
    text-align: center;
    margin-top: 1.5rem;
}

.register-link p {
    font-size: 0.9rem;
    color: #333333;
}

.register-link a {
    color: #4A6FA5; /* Azul medio */
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

/* Contenedor del formulario de registro */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh; /* Altura mínima para centrar en pantalla */
    background-color: #B0C4DE; /* Azul claro */
}

.register-box {
    background: #FFFFFF; /* Fondo blanco */
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 25rem;
}

/* Botón de registro */
.register-button {
    width: 100%;
    background-color: #4A6FA5; /* Azul medio */
    color: #FFFFFF;
    padding: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #1B263B; /* Azul oscuro */
}

/* Estilo del enlace para regresar a login */
.back-to-login {
    text-align: center;
    margin-top: 1.5rem;
}

.back-to-login p {
    font-size: 0.9rem;
    color: #333333;
}

.back-to-login a {
    color: #4A6FA5; /* Azul medio */
    text-decoration: none;
    font-weight: bold;
}

.back-to-login a:hover {
    text-decoration: underline;
}


nav {
    margin-top: 0.625rem;
}

nav a {
    color: #FFFFFF; /* Blanco para el texto */
    text-decoration: none;
    margin: 0 0.9375rem;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin: 1.25rem;
    padding: 1.25rem;
    background-color: #B0C4DE; /* Azul claro para las secciones */
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #000000; /* Negro para los títulos */
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.625rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.625rem;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 0.625rem;
}

p {
    color: #000000; /* Negro para el texto principal */
    font-size: 1.5rem;
    margin-bottom: 0.9375rem;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.625rem;
    list-style-type: none;
}

a {
    color: #4A6FA5;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
}

a:hover {
    color: #2A4D91;
    text-decoration: none;
    transform: scale(1.05);
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #4A6FA5;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
}
footer {
    margin-top: 1.25rem;
    font-size: 0.9rem;
    color: #888;
    text-align: center;
    background-color: #E0E0E0; /* Gris claro para el pie de página */
    padding: 0.625rem;
}

footer p {
    margin: 0;
}

.back-to-index {
    text-align: center;
    margin: 1.25rem 0;
}

.back-button {
    padding: 0.625rem 1.25rem;
    background-color: #4A6FA5; /* Azul medio para botones */
    color: white;
    text-decoration: none;
    border-radius: 0.3125rem;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #1B263B; /* Cambia a azul oscuro al pasar el ratón */
}

/* Contenedor de la imagen */
.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 1.5rem 0; 
}

/* Estilo para las imágenes */
.screenshoot {
    max-width: 80%;
    height: auto;
    border-radius: 0.625rem;
    box-shadow: 0.32rem 0.44rem 1.6rem #1B263B;
    transition: transform 0.3s ease-in-out;
}

.screenshoot:hover {
    transform: scale(1.05);
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    .screenshoot {
        max-width: 95%;
    }
}
